@import "tailwindcss";

button, input[type="submit"] {
    @apply hover:cursor-pointer;
}

.fondo-home {
    @apply bg-gradient-to-r from-blue-400 to-indigo-600;
    background-size: cover;
    background-position: center;
    position: relative;
}

.caja-descripcion {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}
    
.tarjeta {
    transition: all 0.3s ease;
    @apply hover:cursor-pointer;
}

.tarjeta:hover {
    transform: translateY(-10px);
}